

<div class="jumbotron">
  <h2>Fooback - Select nearest restaurents</h2>
  <p class="lead"></p>
  <% if current_user %>
    <p><%= link_to "New Restaurant",  new_restaurant_path, class: "btn btn-success", role: "button"  %></p>
  <% else %>
    <p><%= link_to "Sign up", new_user_session_path, class: "btn btn-success", role: "button"  %></p>
  <% end %>
</div>

<div class="row">
  <%= form_tag search_restaurants_path, method: :get do |f| %>
  <%= text_field_tag :search, nil, placeholder: "name , dish" %>
  <%= text_field_tag :location, nil, placeholder: "Chennai, bengalore, etc" %>
  <%= select_tag :category, options_for_select(Category.all.map{|c| [c.name, c.id]}) %>

  <%= submit_tag "Search" %>
  <% end %>
</div>


    <% @restaurants.each do |a| %>
    <div class="row marketing">
      <div class="col-lg-6">
        <h4><%= link_to a.name, a %></h4>
        <p><%= a.description %></p>
        <p><%= a.phone %> &emsp; <%= a.email %></p>

        <% if a.reviews.present? %>
          <p class="star-rating" data-score=<%= a.reviews.average(:rating) %>></p>
        <% else %>
          <p>No rating yet</p>
        <% end %>

        <% if current_user.try(:admin?) %>
        <p><a href="">Edit</a> &emsp; <a href="">Destroy</a></p>
        <% end %>
      </div>

      
    </div>
  <% end %>
